.container{
      background-color: #F5F5F5;
      max-width: 800px;  
      margin: 0 auto;    
      padding: 20px;     
      border: 1px solid #ccc;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      border-radius: 5px; 
      flex-direction: column;
      align-items: center;
      display: flex;
      font-family: 'Poppins', sans-serif;
    }   

button{
      display: flex;
      background-color: #c28c00;
      max-width: 250  px;  
      max-height: 5px;
      color: white;    
      padding: 20px;     
      border: none;
      border-radius: 5px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      margin: 5px;
      font-size: 13px;
      cursor: pointer;
      transition: 0.3s;
      align-items: center;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
      
}
button:hover {
    background-color: #e0a500;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px); 
    
}

h1 {
      font-size: 2rem;
      color: #333;
      margin-bottom: 20px;
      white-space: nowrap;
      overflow: hidden;
}

h2 {
      color: #9e7402;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      margin: 5px;
}

